<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Cocina.Me</name>
    
  <platform name="android">
  <icon src="icon.png" width="180" height="180" />
</platform>
    
         <icon src="icon/icon.png" />
    
<icon src="icon/icon.png" platform="android" qualifier="ldpi" />
<icon src="icon/icon.png" platform="android" qualifier="mdpi" />
<icon src="icon/icon.png" platform="android" qualifier="hdpi" />
<icon src="icon/icon.png" platform="android" qualifier="xhdpi" />
<icon src="icon/icon.png" platform="android" qualifier="xxhdpi" />
<icon src="icon/icon.png" platform="android" qualifier="xxxhdpi" />
<icon src="icon/icon.png" platform="android" qualifier="fr-xxhdpi" />
  <description>
      Catalogo de Recetas de comidas saludables
  </description>
    
    <splash src="icon.png" platform="ios" width="320" height="480" />

<splash src="icon/icon.png" platform="android" qualifier="ldpi" />
<splash src="icon/icon.png" platform="android" qualifier="mdpi" />
<splash src="icon/icon.png" platform="android" qualifier="hdpi" />
<splash src="icon/icon.png" platform="android" qualifier="xhdpi" />
<splash src="icon/icon.png" platform="android" qualifier="fr-xhdpi" />
<splash src="icon/icon.png" platform="android" qualifier="port-xxhdpi" />
<splash src="icon/icon.png" platform="android" qualifier="land-xxhdpi" />
<splash src="icon/icon.png" platform="android" qualifier="xxxhdpi" />
  <author href="https://build.phonegap.com" email="piaggi21@gmail.com">
      Pablo Andres Piaggi
  </author>

</widget>